<%- include('partials/header'); %>
<link rel="stylesheet" href="/css/about.css">

<div class="container about-container">
    <div class="row" id="about-aim">
        <div class="col-6">
            <h1>Our Aim</h1>
            <img id="pen-image-about" src="images/about/pen_image.webp" alt="pen image">
        </div>
        <div class="col-6">
            <div class="container">
                <p></p>
                <br>
                <br>
                <div class="row row-description">
                    <div class="col-3 row-header">
                        <h2>01</h2>
                    </div>
                    <div class="col-9 row-paragraph">
                        <h2>LEARN</h2>
                        <p>Learn about MRI anatomy and labelling</p>
                    </div>
                </div>
                <div class="row row-description no-border">
                    <div class="col-3 row-header">
                        <h2>02</h2>
                    </div>
                    <div class="col-9 row-paragraph">
                        <h2>PRACTICE</h2>
                        <p>Study and memorize the labels at your own pace</p>
                    </div>
                </div>
                <div class="row row-description">
                    <div class="col-3 row-header">
                        <h2>03</h2>
                    </div>
                    <div class="col-9 row-paragraph">
                        <h2>TEST YOURSELF</h2>
                        <p>Grade yourself with quiz, you can take the quiz as many times as you want to improve your score</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container about-container">
    <div class="row reduce-bottom" id="about-um">
        <div class="col-6">
            <img id="faculty_of_medicine_picture" src="images/about/faculty_of_medicine.jpg" alt="faculty_of_medicine">
        </div>
        <div class="col-6">
            <br>
            <h2>Background</h2>
            <br>
            <p>Established in 2021, the Department of Biomedical Imaging strives to achieve an e-learning platform to cater to students.
                As a recepient of the UM Learning Improvement and Teaching Enhancement Research(UM-LITER) grant, we aim to conduct Research
                on improving and enhancing learning and teaching practices.
            </p>
        </div>
    </div>
</div>

<!-- Meet our Team -->

<div class="container about-container" id="team-profiles">
    <h1>Meet Our Team</h1>
    <div class="row">
        <div class="col-4">
            <img class="profile-pictures" src="images/about/Eric.jpg" alt="eric">
            <br>
            <h5>DR.ERIC CHUNG</h5>
            <p>MANAGER/CODER</p>
        </div>
        <div class="col-4">
            <img class="profile-pictures" src="images/about/weilin.jpg" alt="weilin">
            <br>
            <h5>DR.NG WEI LIN</h5>
            <p>DESIGNS AND QC</p>

        </div>
        <div class="col-4">
            <img class="profile-pictures" src="images/about/Nadia.jpg" alt="nadia">
            <br>
            <h5>DR.NADIA FAREEDA BINTI MUHAMMAD GOWDH</h5>
            <p>CONTENT CREATION</p>
        </div>

    </div>
    <div class="row">
        <div class="col-4">
            <img class="profile-pictures" src="images/about/jeannie.jpg" alt="jeannie">
            <br>
            <h5>ASSOC PROF.DR.JEANNIE WONG HSIU DING</h5>
            <p>CONTENT CREATION</p>
        </div>
        <div class="col-4">
            <img class="profile-pictures" src="images/about/tkl.jpg" alt="tkl">
            <br>
            <h5>DR.TAN LI KUO</h5>
            <p>CODER</p>
        </div>
        <div class="col-4">
            <img class="profile-pictures" src="images/about/anushya.jpg" alt="anushya">
            <br>
            <h5>PROF. DR. ANUSHYA A/P VIJAYANANTHAN</h5>
            <p>PROGRAM COORDINATOR</p>
        </div>
    </div>

</div>


<!-- ------------------------------------------------------------------------------------------------------------------------------------- -->


<%- include('partials/footer'); %>